html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
body {background-color: white; color: #222; font: normal normal 13px arial; margin: 24px; max-height: 1800px; min-height: 400px; width: 624px;}
::-webkit-scrollbar {width: 8px; height: 16px;}
::-webkit-scrollbar-thumb {background-clip: padding-box; background-color: rgba(0, 0, 0, 0.2); min-height: 28px; padding-top: 100px; -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);}
a{text-decoration:none}
.magazineview {height:400px;overflow: auto;width: 100%; list-style: none; margin:0;}
.product { border: 1px solid white; float: left; height: 230px; margin: 4px; padding: 6px!important; position: relative; width: 180px; -webkit-user-select: none;line-height: 24px; display:list-item;}
.product:hover {border: 1px solid #CCC; -webkit-box-shadow: inset 0 1px 16px rgba(0,0,0,0.1);}
.clr{ clear:both;}

.magazineview .imgcontainer {display: block; width: 100%; z-index: 1; line-height: 18px;}
.magazineview .imgcontainer img { max-width: 100%; height: 139px; cursor:pointer;}
.magazineview .imgcontainer img:hover{filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.businessname {font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;width: 100%;}
.locationname {color:#666;}
.buttoncontainer {margin: 4px 0;}
.buttoncontainer a{margin: 4px 0;-webkit-user-select: none;float:left; background-position:right center;background-repeat:no-repeat;}
.kd-button {display: inline-block;min-width: 54px;border: 1px solid gainsboro;border: 1px solid rgba(0, 0, 0, 0.1);text-align: center;color: #000;font-size: 11px;font-weight: bold;height: 27px;padding: 0 16px 0 2px;line-height: 27px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;-webkit-transition: all .218s;transition: all .218s;background-color: whiteSmoke;-webkit-user-select: none;cursor: default;}
.buttoncontainer a span {position: relative;}
.kd-button-submit {border:1px solid #3079ED;color: white;background-color: #4D90FE;background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);background-image: linear-gradient(top,#4D90FE,#4787ED);padding: 0 4px;min-width: 0px;cursor:pointer; position:absolute; right:5px;}
.product .del {position:absolute; top:9px; right:9px;display:none;line-height:10px;}
.product:hover .del {display:block; cursor:pointer;}
.green { color:#ccc; background-color:#ccc;}
.isChanged{cursor:pointer;border:0px red solid;position:absolute; bottom:7px;left:6px;width:130px;background-color: transparent;}
.refresh{background:url(../images/refresh.png);}
